body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.small {
  font-size: 14px;
}

.buttonContainer {
  text-align: center;
  padding: 1rem;
}

.buttonContainer2 {
  text-align: center;
  padding: 1rem;
}

.artist-background {
  background-color: #c6e0ff;
}

.navbar{
  width: 100%;
  max-height: 19vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  transition: all .7s ease-in;
  position: fixed; 
  top: 0;
}

.logo img{
  width: 50px;
}

.nav-link:hover{
  background-color: lightgray;
  border-radius: 5px;
  text-decoration:none;
}

.nav_link {
  text-decoration: none;
}

.cards {
  list-style: none;
  background-color: #c6e0ff;
  align-items: center;
  align-self: center;
  align-content: center;
  align-tracks: center;
  justify-content: center;
}

.card {
  margin: 1rem;
}

/* .card-body{
  height: 17rem;
} */

.card img {
  width: 100%;
  height: 20rem;
}

.card button {
  margin-top: 0.5rem;
}

.canvasbord {
  border: black;
  border-width: 150px;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}